* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #14b8a6;
    --card-color: orange;
    --white: #f8fafc;
    --slate: #e2e8f0;
}

html, body {
    height: 100%;
}

body {
    display: grid;
}

body {
    grid-template-columns: 1fr 3.5fr;
    grid-template-rows: 1.5fr 4.5fr;
}

.sidebar {
    background-color: var(--main-color);
    grid-row: 1 / -1;
}

.header {
    background-color: var(--white);
    height: 100%;
}

.main-content {
    background-color: var(--slate);
    height: 100%;
}